*{
    padding: 0px;
    margin: 0px;
    color: white;
}
    

.navbar{
    height: 3vw;
    width: 100vw;
    background-color: rgb(90, 3, 3);
    border-radius: 10px;
   padding-top: 10px;
   
  
}
a{
    
    margin-right:10vw;
     text-decoration: none;
   

   
}
#logo{
    padding-left: 50px;
    margin-top:30px;
    color:rgb(198, 13, 13) ;
    font-size: large;
    font-family: fantasy;
    
   
    
}
#searchbar{
    margin-left: 5vw;
}
#Go{
    background-color: blanchedalmond;
    color: black;
    
}
body{
    background-color: rgb(250, 210, 162);
}
a:hover{
    background-color: gray;
}

.container {
    width:100vw;
height: 20vw;
position: relative;

}
#library{
    width: 100%;
    height:20vw;
    object-fit: cover;

}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: cursive;

}
h1{
    font-style:italic;
      color:chocolate;
}
h2{
    color:chocolate;
    font-family: cursive;
}
    
    


