*{
    padding: 0px;
    margin: 0px;
    color: white;
}
    

.navbar{
    height: 3vw;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgb(90, 3, 3);
    border-radius: 10px;
   padding-top: 10px;
   
  
}
a{
    
    margin-right:10vw;
     text-decoration: none;
   

   
}
#logo{
    padding-left: 50px;
    margin-top:30px;
    color:rgb(198, 13, 13) ;
    font-size: large;
    font-family: fantasy;
    
   
    
}
#searchbar{
    margin-left: 5vw;
}
#Go{
    background-color: blanchedalmond;
    color: black;
    
}
body{
    background-color: rgb(250, 210, 162);
}
a:hover{
    background-color: gray;
}
.content{
    position: relative;
    top:45px;
}
#screen{
    background-image: url(Images/library2.avif);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    height: 40vh;
    width: 100vw;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: cursive;

}
h1{
    font-style:italic;
      color:rgb(255, 172, 7);
      font-family: "Macondo Swash Caps", fantasy;
}

footer{
    background-color: rgb(123, 3, 3);
    position:fixed;
    bottom:0;
    width:100vw;
    text-align:center;
}

    
    


