*{
    padding: 0px;
    margin: 0px;
    color: white;
}
    

.navbar{
    height: 30px;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: rgb(90, 3, 3);
    padding-top: 10px;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    flex-shrink:1;
   
}
a{
    
    margin-right:10px;
     text-decoration: none;
     height: 20px;
     
   
}
#logo{
  
    color:rgb(198, 13, 13) ;
    font-size: large;
    font-family: "Macondo Swash Caps", fantasy;
    margin-left: 20px;
}
#searchbar{
  height: 20px; 
  width: 300px;
  margin-left: auto;
  color: black;
 
}
#Go{
    background-color: blanchedalmond;
    color: black;
  height: 25px;
  width: 30px;
  margin-right: 20px;
  flex-shrink: 0;
  
}
body{
    background-color: rgb(250, 210, 162);
}
a:hover{
    background-color: rgb(241, 116, 33);
}
.wrapper{
   margin-left:10px;
    box-sizing: border-box;
    position: relative;
    top:42px;
    height:650px;
    width: 500px;
    display: flex;
    overflow-x: scroll;
    gap:20px;
    scroll-snap-type: x mandatory;
    scrollbar-width:none;

}
.cards{
    width: 500px;
   
    padding: 20px;
    flex-shrink: 0;
    scroll-snap-align: center;

   
}
#card1{
    background-color: rgb(255, 172, 7);
    background-image: url(Images/castlewindow.jpg);
    background-size: cover;
   background-position: center;
   
    

}
#card2{
    background-color: rgb(255, 172, 7);
    background-image: url(Images/medival_sword.jpg);
    background-size: cover;
    background-position: center;
 
}
#card3{
    background-color:rgb(255, 172, 7);
    background-image: url(Images/medival_armor.jpg);
    background-size: cover;
    background-position: center;
}
#card4{
    background-color: rgb(255, 172, 7);
    background-image: url(Images/fantasy_forest.jpg);
    background-size: cover;
    background-position: center;
}

.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: cursive;

}
h1{
    font-style:italic;
      color:rgb(255, 172, 7);
      font-family: "Macondo Swash Caps", fantasy;
}

footer{
    background-color: rgb(123, 3, 3);
    position:fixed;
    bottom:0;
    width:100vw;
    text-align:center;
}

    
    


